.submit{
    background-color: #C90017;
    color: #fff;
    
  }
  .conect{
    
    background-color: #F9F9F9;
}
@media only screen and (max-width: 991px){
  .deconnect{
    display: none;
  }
}
@media  screen and (max-width: 767px){
  .jjj{
    width: 100%;
    
  }
 
}

  .deconnect{
    background-color:#c90017;
  }
  .deconnect a{
    padding: 10px;
    color: #fff;
  }
  /* .deconnect a:hover{
    background-color: #ddd;
  } */
    .submit:hover{
    background-color: #fff;
    color: #C90017;
    border-color: #C90017;
  }
  
  .form-control .cnx{
    background-color: #ddd;
  }
 
.danger{
  color: #C90017;
}
.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}
 
.fhj{
  width: 25px;
}



body{
overflow-x: hidden;
}
.form-control{
background-color: #ddd;
}
.red{
  margin-left: 4%;
  background-color: #C90017;
  width: 190px;
  height: 47px;
  color: #fff;
}

.red:hover{
  background-color: #fff;
  color: #C90017;
  width: 190px;
  height: 47px;
  border-color: #C90017;
}


.card-signin {
border: 0;
border-radius: 1rem;
box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
margin-bottom: 2rem;
font-weight: 300;
font-size: 1.5rem;
}

.card-signin .card-body {
padding: 2rem;
}

.form-signin {
width: 100%;
}

.form-signin .btn {
font-size: 80%;
border-radius: 5rem;
letter-spacing: .1rem;
font-weight: bold;
padding: 1rem;
transition: all 0.2s;
}


/* menu */
#mySidepanel{
  margin-top: 25%;
  margin-left: 0;
  width: 50%;
}
.sidepanel {
height: 450px; /* Specify a height */
width: 0; /* 0 width - change this with JavaScript */
position: fixed; /* Stay in place */
z-index: 2; /* Stay on top */
top: 0;
left: 0;
background-color: #fff; /* Black*/
overflow-x: hidden; /* Disable horizontal scroll */
padding-top: 0px; /* Place content 60px from the top */
transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a:not(.closebtn) {
/* padding: 8px 8px 8px 32px; */
text-decoration: none;
font-size: 20px;
color: #c90017;
display: block;
transition: 0.3s;
}
.sidepanel a:not(.closebtn){
margin-top: 4%;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
color: #fff;
border-bottom: 2px #c90017 solid;
background-color: #c90017;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
position: absolute;
top: 0;
right: 2px;
font-size: 40px;
margin-left: 45px;
margin-top: 0.5px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
font-size: 20px;
cursor: pointer;
background-color: #c90017;
color: white;
padding: 10px 15px;
border: none;
}

.openbtn:hover {
background-color: #444;
}
.closebtn{
margin-top: -12%;
float: left;
color: black;
}
/*  .vertical-menu {
width: 300px; 
} */
.mnn{
  width: 300px;
  margin-top: 15%;
}
.d-flex{
width: 300px;
background-color: #fff;
}
@media screen and (max-width: 942px){
  .mobile{
    margin-left: -10%;
  }
  
}


@media  screen and (max-width: 992px){
.mnn{
  display: none;
}
.btt{
  display: none;
}


.mobile{
  margin-left: -5%;
}
 h1{
  margin-top: -5%;
}
}
@media  screen and (max-width: 945px){
  .bouttt{
    display: none;
  }
}

@media  screen and (min-width: 992px){
 .toggle{
   display: none;
 }
 .iccc{
  display: none;
}
}
.vertical-menu img{
width: 20px;
height: 20px;
}
.photo{
width: 300px;
height: 135px;
background-color: #c90017;
}
.test{
height: 800px;
background-color: #fff;
}
.vertical-menu a {
color: black; 
display: block; 
text-decoration: none; 
/* font-size: 25px; */
}
.vertical-menu .d-flex:hover{
background-color: #ddd;
border-left: 3px solid black;
}

.vertical-menu .d-flex{
background-color: #fff;
}

/* 
.mnn{
background-color: #ddd;
} */

.admin{
background-color: #000;
}

.row{
padding: 0;
}
.conect ul {
list-style: none  ;

}
.conect ul li a{
text-decoration: none;
color: black;
margin-left: -16%;
}

.conect a{
padding: 12px;
/*       background-color: #ddd;
*/  }
/*  .conect a:hover{
background-color: grey;

} */